{% extends "layout.html" %}
{% block content %}
    <h1>About Me</h1>
        <h2>Education</h2>
            <h3>Software Engineering - Iowa State University (2011-2015)</h3>
                <b>Iowa State is an incredible school!  Go Cyclones!  I love learning here, and being a part of the exponentially-growing Software Engineering program!  Some of the most helpful classes at Iowa State have been classes that allow me to work on a project with a team from start to finish.  You can find some of them <a href="/projects">here</a></b>
        <h2>Experience</h2>
            <h3>Digi International Internship</h3>
                <b>In the summer of 2013, I worked in the Systems Assurance section of Digi International.  I primarily worked with their Git repository of tests, which had become too big to handle, and they wanted to make it more modular for each of their teams.*********</b>
            <h3>Teaching Assistant for the ISU Computer Science Department</h3>
                <b>***Replace Me***</b>
            <h3>Mission trip to China (Summer 2014)</h3>
                <b>***Replace Me***</b>
        <h2>Skills</h2>
            <b>***Replace Me with Fancy Image Chart***</b>
        <h2>Hobbies and Activities</h2>
            <h3>Cornerstone Church</h3>
                <b>I have been involved with <a href="http://cornerstonelife.com/">Cornerstone Church</a> since I first came to ISU.  It has been a huge part of my life, I have made my dearest friends there, and it has helped me become closer to God.</b>
                <h4>Tech Crew</h4>
                    <b>I regularily help out with many of the technical roles of Cornerstone.  I ran computer graphics for their childrens program, <a href="http://cornerstonelife.com/d6families/">D6</a> for a year, and frequently help out their 1,500 student college ministry <a href="www.thesaltcompany.com">The SALT Company</a>, by either running cameras to record their messages, directing the camera crew, or setting up and running the lighting equipment.</b>
                <h4><a href="http://www.ifcinfo.com/">International Friendship Connection</a></h4>
                    <b>For the past year and a half, I have been working with Cornerstone Church's international ministry, IFC.  Every week, we have a group of international students that come to a local house, eat food, have fun, sing worship songs, and then we study the Bible.  This year, I will be leading a group of international students in discussions of passages about parables, and what they mean.  It is great to create a family-like environment for students who are missing their own families.</b>
            <h3>Entertainment!</h3>
                <ul>
                    <li><h4>Frisbee Golf</h4></li>
                    <li><h4>Tabletop and Card Games</h4></li>
                    <li><h4>Ultimate Frisbee</h4></li>
                    <li><h4>Video Games</h4></li>
                </ul>
{% endblock %}
