{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="top-padding">
            <h1>Contact Information</h1>
                <h2>Send Me a Message</h2>
                    <div class="icons">
                        <a href="{{personal_facebook}}">
                            <img src="Facebook-icon.png">
                        </a>
                        <a href="{{personal_github}}">
                            <img src="GitHub-icon.png">
                        </a>
                        <a href="{{personal_gplus}}">
                            <img src="GooglePlus-icon.png">
                        </a>
                        <a href="{{personal_linkedin}}">
                            <img src="LinkedIn-icon.png">
                        </a>
                        <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
                        <div id="SkypeButton_Call_Bradleo99_1">
                          <script type="text/javascript">
                            Skype.ui({
                              "name": "dropdown",
                              "element": "SkypeButton_Call_Bradleo99_1",
                              "participants": ["Bradleo99"],
                              "imageSize": 32
                            });
                          </script>
                        </div>
                    </div>
                <h2>Contact Me Yourself</h2>
                    <h4>Phone</h4>
                        <p>{{personal_phone}}</p>
                     <h4>Address</h4>
                        <p>{{personal_address}}</p>
                    <h4>Email</h4>
                        <p>{{personal_email}}</p>
                    <h4>Skype</h4>
                        <p>{{personal_skype}}</p>
        </div>
    </div>
    <div>These Icons were made by LunarTemplates on <a href="www.iconarchive.com">iconarchive.com</a></div>
    <div>Icons on my business card made by Freepik, Daniel Bruce, Sarfraz Shoukat, Elegant Themes, Zurb, Vectorgraphit, Situ Herrera, Icomoon, Dave Gandy, OCHA, SimpleIcon, Yannick from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
{% endblock %}
