{% extends "layout.html" %}
{% block content %}
    <!-- home.html -->
    <div>
        <!-- image from https://unsplash.com/ -->
        <img class="resize" src="Landing_Image.jpg">
    </div>
    <div class="landing-text-box">
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome to my Portfolio!</h1>
                    <p>You found the personal software portfolio of Bradley Wells, where you can find information about who I am, what past projects I have worked on, my work experience, and how to contact me.</p>
            </div>
        </div>
    </div>
{% endblock %}
