{% extends "layout.html" %}
{% block content %}
    <h1>My Projects</h1>
    <h2><a name="Senior-Design-Project" style="text-decoration: none">SIDS Monitoring Project - Senior Design</a></h2>
        <b> Currently, I am working on a project to help combat <a href="http://en.wikipedia.org/wiki/Sudden_infant_death_syndrome">Sudden Infant Death Syndrome</a> (SIDS).  One of the possible symptoms of SIDS is ********
    <h2><a name="Munchkin-on-Android" style="text-decoration: none">Munchkin on Android</a></h2>
    <b>***Replace Me***</b>
    <h2><a name="Fluid-Invitation-Website" style="text-decoration: none">Fluid Invitation Website</a></h2>
    <b>***Replace Me***</b>
    <h2><a name="Other-Projects" style="text-decoration: none">Other Projects</a></h2>
    <h3>Starbound Mod?</h3>
    <b>***Replace Me***</b>
    <h3>This Website</h3>
    <b>Last, but not least, the website you are reading on right now.  It is running off of Google App Engine on a Flask server, with Bootstrap and JQuery javascript libraries.
{% endblock %}
