{% extends "layout.html" %}
{% block content %}
    <!-- projects.html -->
    <h1>My Projects</h1>
    <h2><a name="Senior-Design-Project" style="text-decoration: none">SIDS Monitoring Project - Senior Design</a></h2>
        <p>Currently, I am working on a project to help combat <a href="http://en.wikipedia.org/wiki/Sudden_infant_death_syndrome">Sudden Infant Death Syndrome</a> (SIDS).  One of the possible symptoms of SIDS is abnormality of sleep states.  Our team will capture data on infant sleep cycles and compile it together to get a baseline of an infants sleep patterns.  From there, we will capture some nearly real-time data of an infant sleeping, and if we notice any irregularities, we will send an alert out.</p>
    <h2><a name="Munchkin-on-Android" style="text-decoration: none">Munchkin on Android</a></h2>
        <p>Another class project of mine was to bring the card game "Munchkin" to Android devices.  The game would use Android phones to show the cards in a player's hand, and connect to a host tablet that would act as the game table.  The game rules posed was quite a challenge to code, because they are very fluid, with some cards even allowing you to outright break the basic rules of the game.  Even though we could not cover all of the cards that could be used in the game, we were able to get a simple working game created with several phones and a tablet.</p>
    <h2><a name="Fluid-Invitation-Website" style="text-decoration: none">Fluid Invitation Website</a></h2>
        <p>This was a short UI project where my team prototyped a website where people could invite others to events connected to them by social network.  We focused on prototyping the GUI, which included a fluid graph visualisation (<a href="http://arborjs.org/">arbor.js</a>), and a grid library (<a href="http://gridster.net/">gridster.js</a>).</p>
    <h2><a name="Other-Projects" style="text-decoration: none">Other Projects</a></h2>
        <h3>This Website</h3>
        <p>Last, but not least, the website you are reading on right now.  It is running off of Google App Engine on a Flask server, with Bootstrap and JQuery javascript libraries.</p>
{% endblock %}
