html            { overflow-y: scroll; }
h1, h2          { color: #000066; }
a               { color: #377ba8; }
h1, h2          { margin-top: 20px; }
h1              { margin-left: -10px; border-bottom: 2px solid #eee; }
h2              { border-bottom: 1px solid #ddd; }
/*  The following should only be used with a top-fixed navbar  */
/*  .top-padding    { padding-top: 50px;} */
.port-footer    { border-top: 1px solid #eee; padding: 5px; text-align: right; font-size: 10px; margin-top: 10px;}

.resize { 
    width:100%;
    height: auto;
    position: relative;
}

.navbar {
    margin-bottom: 0px;
}
.landing-text-box { 
    position: absolute;
    top: 40px; 
    left: 0; 
    width: 100%; 
}

.landing-container {
    position: relative;
}
.jumbotron {
    background-color: rgba(255,255,255,0.4);
}

.jumbotron h1 {
    border-bottom: 2px solid #222222;
}

.credit {
    font-size: 9px;
    text-align: right;
    padding-right: 10px;
}